<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESSORIES</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h2>ACCESSORIES</h2>
    <div class="card-group">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtNN2rOh4h53eS-jPXKYAznQpTvLcTsfQOag&amp;s" class="sFlh5c FyHeAf" alt="Gold Diamond Bracelet" jsname="JuXqh" style="max-width: 1496px; width: 221px; height: 221px; margin: 0px;" data-ilt="1741167271235">
        <div class="card-body">
        <h5 class="card-title">Stone Bracelet</h5>
        <h5 class="card-title">Price = 349</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a href="{% url 'billing' %}" class="btn btn-primary">Add to Cart +</a>
        </div>
      </div>
      <div class="card">
        <img src="https://store.krishnajewellers.com/cdn/shop/products/JDGN3028-2.jpg?v=1737278880&amp;width=1080" jsaction="" class="sFlh5c FyHeAf iPVvYb" style="max-width: 1080px; height: 221px; margin: 0px; width: 221px;" alt="Buy Light weight 18k diamond necklace | Krishna Jewellers" jsname="kn3ccd" aria-hidden="false">
        <div class="card-body">
          <h5 class="card-title">Silver Plated Stone necklace</h5>
          <p class="card-text">Price = 649</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a href="{% url 'billing' %}" class="btn btn-primary">Add to Cart +</a>
        </div>
      </div>
      <div class="card">
        <img id="dimg_SRzIZ4fDKuW4seMPldLZoAg_161" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiLv-FKoKNV-CMAD2rY3bV_xYzBYTA6P8v6g&amp;s" class="YQ4gaf" height="188" style="object-position:0% 0%" width="268" alt="Trending Meenakari Jhumki - Peach at ..." data-csiid="SRzIZ4fDKuW4seMPldLZoAg_174" data-atf="4" data-ilt="1741167719599" data-deferred="3" data-iml="1741167719599">
      <div class="card-body">
        <div class="card-body">
          <h5 class="card-title">Preet Chandbali Earrings- Golden</h5>
          <p class="card-text">Price = 499</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a href="{% url 'billing' %}" class="btn btn-primary">Add to Cart +</a>
        </div>
      </div>
    </div>
<div class="card">
  <img id="dimg_BB7IZ7GfBdiRseMP47aAqQs_89" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScf_XZ79zSxmDDArkLVTsuZf0LlN159nXQLQ&amp;s" class="YQ4gaf" height="169" style="object-position:54% 0%" width="299" alt="gold nupur payel price #gold #nupur ..." data-ilt="1741168133890">

  <div class="card-body">
    <h3 class="card-title">Gold Stone Payel</h3>
    <p class="card-text">Price = 449</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a href="{% url 'billing' %}" class="btn btn-primary">Add to Cart +</a>
  </div>
</div>

<div class="card" aria-hidden="true">
  <img id="dimg_wR7IZ-3_OLrgseMPify_4A4_291" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMCXUYmNoiRKboqKWKiAagy2dHHQtTUStbqg&amp;s" class="YQ4gaf" height="168" style="object-position:0% 38%" width="300" alt="Hip Chain For Wedding 2025 | www ..." data-csiid="wR7IZ-3_OLrgseMPify_4A4_90" data-atf="4" data-ilt="1741168333048" data-deferred="3" data-iml="1741168333048">
    <h3 class="card-title">Bridal Waist Chain</h3>
    <p class="card-text">Price = 559</p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
          <a href="{% url 'billing' %}" class="btn btn-primary">Add to Cart +</a>
  </div>
</div>
  </div>
</div>
</body>